@use '../../styles/mixins'as *;
@use '../../styles/variables'as *;

.post-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  top: 0px;
  width: 100%;

  .post-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: $content-max-width + 40px;
    margin-bottom: 16px;
    gap: 8px;

    .tab-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 6px;
    }

    .custom-tab {
      height: 40px;
      padding: 8px 16px;
      border: none;
      background: transparent;
      font-family: $font-family;
      color: var(--tab-text-color);
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      border-radius: 8px;
      transition: all 200ms ease;
      white-space: nowrap;

      &:hover {
        color: var(--tab-hover-text-color);
        background-color: var(--tab-selected-background-color);
        transition: all 200ms ease;
      }

      &.selected {
        background-color: var(--tab-selected-background-color);
        color: var(--tab-hover-text-color);
        font-weight: 600;
      }
    }
  }
}
